events {
    worker_connections 1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile      on;

    server {
        listen ${PORT};

        # Frontend Static Files
        location / {
            root /usr/share/nginx/html;
            try_files $uri /index.html;
        }

        # API - Auth
        location /api/users/ { proxy_pass http://127.0.0.1:8003; }
        location /api/profile/ { proxy_pass http://127.0.0.1:8003; }
        location /api/follows/ { proxy_pass http://127.0.0.1:8003; }

        # API - Content
        location /api/posts/ { proxy_pass http://127.0.0.1:8000; }
        location /api/moderation/ { proxy_pass http://127.0.0.1:8000; }

        # API - Analytics
        location /api/analytics/ { proxy_pass http://127.0.0.1:8004; }

        # API - Timeline
        location /api/timeline/ { proxy_pass http://127.0.0.1:8005; }
        location /ws/timeline {
            proxy_pass http://127.0.0.1:8005;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        }

        # API - Admin
        location /api/admin/ { proxy_pass http://127.0.0.1:8006; }
        location /api/ml/ { proxy_pass http://127.0.0.1:8006; }
    }
}
